.view {
  position: relative;
  width: 100%;
  height: 100%;  
}
.container {
  position: absolute;
  width: 100%;
  height: 100%;  
}
.layout {
  display: grid;
  grid-template-columns: .5fr .5fr;
  gap: 1.5rem;
  height: 100%;    
}
.form_heading {
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
  padding: .5rem 0;  
}
.form_heading > h1 {
  font-size: 5rem;
  font-weight: 900;
  opacity: .8;
}
.asthetics_col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form_col {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: .5rem;
  border-radius: 10px;
  background-color: var(--secondary-bg-clr);
  text-align: center;
}
.form_col > h2 {
  font-weight: 800;
}
.graphic {
  opacity: .8;
  filter: drop-shadow(2px 2px 4px rgba(255, 255, 255, 0.473));
  transform: perspective(400px) rotate3D(0, 1, 0, 10deg);
  -webkit-mask: 
  linear-gradient(135deg,#000c 40%,#000,#000c 60%)
  100% 100%/250% 250%;
  transition: transform .2s ease-in-out;
}
.graphic.alt {
  --r: 1,1;
  -webkit-mask: 
    linear-gradient(45deg,#000c 40%,#000,#000c 60%)
    0 100%/250% 250%;
}

.graphic:hover {
  -webkit-mask-position: 0 0;  
  transform: perspective(400px) rotate3D(0, 0, 0, -10deg);
}
.graphic.alt:hover {
  -webkit-mask-position: 100% 0;
}


