.desktop_container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100dvw;
  height: 100dvh;
  background-color: #272537;
}

/* DESKTOP GRID STYLES CSS */
.desktop_grid {
  display: grid;
  grid-template-columns: .75fr .25fr;
  flex: 1;  
}




.desktop_content_griditem {
  display: flex;
  flex-direction: column;
}



/* DESKTOP MENU GRID STYLES CSS */
.desktop_menu_grid {  
  flex: 1;
  background-color: #1a1d307e;
  border-radius: 8px;
  margin: 1rem 2rem;
}

