/* DESKTOP TOOLBAR STYLES CSS */
.desktop_toolbar {
  display: flex;
  flex-wrap: nowrap;
  gap: 1em;
  justify-content: flex-start;
  padding: .5em;
}
.logo_section,
.nav_section {
  flex: 1;  
}

.nav_section {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  padding-right: 1rem;
}
.toolbar_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  padding: .5rem;
  margin: 0;
  border: 0;
  background-color: var(--secondary-bg-clr);
  color: #00A36A;
  cursor: pointer;
}

.desktop_tb_logo_section {
  display: flex;
  gap: .5em;
  padding-left: .75em;
}
.desktop_tb_logo_text {
  font-family: "Nunito Sans", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  background: -webkit-linear-gradient(left,#00A36A,#236AA0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.desktop_tb_subtext {
  display: flex;
  align-items: center;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  color: #DCE0D9;
}
.desktop_tb_searchfield_section {
  display: flex;
  align-items: center;
}