.we_form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.we_form.flex {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.we_form.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.we_form_row {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;  
}

.flex_1_row {
  flex: 1;
}