.panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: .5rem .75rem;  
}
.adduser_panel_title {
  text-align: center;  
}

.body {
  flex: 1;
  padding: .75rem 0;
  /* background-color: aquamarine; */
}

.add_user_form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.add_user_form_row {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  padding: 0 1rem;
}
.add_user_form label {
  flex:.25;
  text-align: right;
}
.add_user_form_row input,
.add_user_form_row select {
  flex: 1;
}
.nav {
  display: flex;
  justify-content: space-evenly;
  gap: .75rem;
  padding: .75rem 0;
}


.app_text_input {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--input-height);  
  padding-left: 1rem;
  user-select: none;
  border: 1px solid var(--input-bg-clr);
  border-radius: 5px;
  /* background-color: var(--input-bg-clr); */
  background-color: #262829;
  font-family: 'Roboto', sans-serif;  
  color: white;
  cursor: pointer;
}

.nav_button {
  display: flex;  
  justify-content: center;
  align-items: center;
  width: 50px;
  /* height: 100%; */
  /* padding: .95rem .25rem; */
  border: 0;
  outline: 0;
  box-shadow: none;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  background-color: transparent;
  color: snow;
  /* gap: .5rem; */
  font-family: "Nunito Sans", sans-serif;
  /* font-weight: 700; */
  /* font-size: 1.2rem; */
  border-radius: 8px;
  border: 1px solid gray;
  pointer-events: stroke;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
.nav_button.active {
  background-color: #0e611c;
  color: snow;
  text-decoration: underline;
}